
<form action="/answer" data-turbo="false">
  <div class="container">
  <h1 class="mt-3">Stupid Coaching</h1>
  <p>Ask your coach anything:</p>
    <div class="input-group mb-3">
      <input type="text" name="question" class="form-control">
      <input type="submit" value="Ask!" class="btn btn-primary" >
    </div>
  </div>
</form>
